<h1>Cool places to visit in Cape Town!</h1>
<p><%= link_to "New Place", new_place_path%>
<table>
  <tr>
    <th>Place</th>
    <th>Rating</th>
  </tr>

  
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.rating %> out of 5</td>
      <td><%= link_to 'Show', place_path(place) %></td>
      <td><%= link_to 'Edit', edit_place_path(place) %></td>
      <td><%= link_to "Delete", place_path(place), method: :delete,
        data: {confirm: 'Are you sure? '} %></td>
    </tr>
  <%end %>




</table>
