<h1><%= @place.name %></h1>
<h1><%= @place.rating %> out of 5</h1><br>
<h2>About:</h2>
<p><%= @place.info %></p>

<h2>Comments</h2>
<%= render @place.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>