<%= form_for @place do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :about %>
		<%= f.text_field :about %>
	</div>

	<div>
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>

	<div>
		<%= f.label :rating %>
		<%= f.text_field :rating %>
	</div>

	<%= f.submit %>	

<% end %>