<% answers = ["A","D","C","B","D",
"C","A","D","B","D"] %>


<% @previous= (eval(@number + "-1").to_s)%>
<% @next = (eval(@number + "+1").to_s) %>



<% if @number == '10' %>
	<% if @option == answers[@index - 1] %>
		<h1>Correct</h1>
		<h2 class="button"><a href ="../../done"><button><%="Done" %></button></a></h2>	
	<% else %>
		<h1>Incorrect</h1>
		<h2 class="button"><a href ="../<%= @number %>"><button><%="Try again" %></button></a></h2>
	<% end %>

<% else %>
	<% if @option == answers[@index - 1] %>
		<h1>Correct</h1>
		<h2 class="button"><a href ="../<%= @next %>"><button><%="Next" %></button></a></h2>	
	<% else %>
		<h1>Incorrect</h1>
		<h2 class="button"><a href ="../<%= @number %>"><button><%="Try again" %></button></a></h2>
	<% end %>
<% end %>